body {
    background-color: #282c35;
    color: #FF6F50;
    font-family: 'Courier New', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#clock {
    font-size: 6rem;
    font-weight: bold;
    box-shadow: 0 0 20px rgba(255, 111, 80, 0.7);
    letter-spacing: 0.1rem;
    text-align: center;
    transition: box-shadow 0.5s ease-in-out;
    padding: 10px;
    border-radius: 10px;
}

#clock:hover {
    box-shadow: 0 0 40px 20px rgba(255, 111, 80, 1);
}