body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #FF6F50;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: white;
    padding: 30px;
    border-radius: 25px;
    width: 350px;
    text-align: center;
}

.logo {
    width: 120px;
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 20px;
    font-weight: 700;
    color: #333;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 6px;
    color: #444;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-sizing: border-box;
}

.password-wrapper {
    position: relative;
}

.password-wrapper i {
    position: absolute;
    right: 12px;
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #888;
}

button {
    width: 100%;
    padding: 10px;
    background-color: black;
    border: none;
    border-radius: 12px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #FF6F50;
}